@import "~baseCss/base/primy";
.homeTitle{
    font-size: .15rem;
    height: .15rem;
    line-height: .15rem;
    border-left: 3px solid $primyColor;
    margin: .3rem 0 0;
    padding-left: .1rem;
}