.ablumItemBox{
    margin-top: .1rem;
    .img{
        width:1.2rem;
        height:1.2rem;
        background-color: #bbb; 
    }
    .txt{
        width: 1.1rem;
        font-size: .122rem;
        padding: 0 .05rem;
        margin:.05rem 0;
    }
}